<%- include('./startReqs.ejs', {page:"Home"}) %>

    <div class="mapContainer">

        <div class="displayParent">
            <div class="resourceDisplayParent">
                <div class="resourceParent">

                    <img src="" alt="" class="resourceImage">

                    <h3 class="resourceHeader"></h3>

                </div>
            </div>
        </div>

        <div class="map" id="map">



        </div>
    </div>

    <%- include('./endReqs.ejs'); %>