<%- include('./startReqs.ejs', {page:"Home"}) %>

    <div class="mapContainer">

        <div class="displayParent">
            <div class="resourceDisplayParent">
                <div class="resourceParent">

                    <img src="materials/images/credits.png" alt="" class="resourceImage">

                    <h3 class="resourceHeader" id="creditsAmount">0</h3>

                </div>
                <div class="resourceParent">

                    <img src="materials/images/concrete.png" alt="" class="resourceImage">

                    <h3 class="resourceHeader" id="concreteAmount">0</h3>

                </div>
                <div class="resourceParent">

                    <img src="materials/images/oil.png" alt="" class="resourceImage">

                    <h3 class="resourceHeader" id="oilAmount">0</h3>

                </div>
                <div class="resourceParent">

                    <img src="materials/images/steel.png" alt="" class="resourceImage">

                    <h3 class="resourceHeader" id="steelAmount">0</h3>

                </div>
            </div>
        </div>

        <div class="map" id="map">



        </div>
    </div>

    <%- include('./endReqs.ejs'); %>