<%- include('./startReqs.ejs', {page:"Home"}) %>

    <div class="mapContainer">

        <div class="displayParent">
            <div class="resourceDisplayParent">
                <div class="resourceDisplayChild">

                    <img src="materials/images/credits.png" alt="" class="resourceDisplayImage">

                    <h3 class="resourceDisplayHeader" id="creditsAmount">0</h3>

                </div>
                <div class="resourceDisplayChild">

                    <img src="materials/images/concrete.png" alt="" class="resourceDisplayImage">

                    <h3 class="resourceDisplayHeader" id="concreteAmount">0</h3>

                </div>
                <div class="resourceDisplayChild">

                    <img src="materials/images/oil.png" alt="" class="resourceDisplayImage">

                    <h3 class="resourceDisplayHeader" id="oilAmount">0</h3>

                </div>
                <div class="resourceDisplayChild">

                    <img src="materials/images/steel.png" alt="" class="resourceDisplayImage">

                    <h3 class="resourceDisplayHeader" id="steelAmount">0</h3>

                </div>
            </div>

            <div class="interactionDisplayParent">

                <div class="structureDisplayParent">

                </div>

            </div>
        </div>

        <div class="buildNotificationParent" id="buildNotificationParent">

            Press x

        </div>

        <div class="map" id="map">



        </div>
    </div>

    <%- include('./endReqs.ejs'); %>