<%- include('./startReqs.ejs', {page:"Home"}) %>

    <div class="heroContainer">
        <div class="heroParent">

            <h1 class="heroHeader"><span style="color: yellow;">JS</span> RTS Game</h1>

            <p class="heroText">Play this game it is gud</p>

            <a href="/game" class="button heroButton waveButton">Pleez play it</a>

        </div>
    </div>

    <%- include('./endReqs.ejs'); %>